<?xml version="1.0" encoding="utf-8"?>

<hibernate-configuration>
    <session-factory>
        <property name="connection.characterEncoding">UTF-8</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/todo</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">220889</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>


        <mapping class="carstore.Body"/>
        <mapping class="carstore.Transmission"/>
        <mapping class="carstore.Engine"/>
        <mapping class="carstore.Car"/>

        <!--<mapping resource="carstore/Transmission.hbm.xml"/>-->
        <!--<mapping resource="carstore/Engine.hbm.xml"/>-->
        <!--<mapping resource="carstore/Body.hbm.xml"/>-->
        <!--<mapping resource="carstore/Car.hbm.xml"/>-->


    </session-factory>
</hibernate-configuration>